<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FreelanceWebSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FreelanceWebSite.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!---------------------------------------------Header Start------------------------------------------->
        <nav class="navbar">


            <div class="navbar-left">

                <div class="online">
                    <img src="~/images/restOfImages/indexImages/user-2.png" class="nav-profile-img" onclick="toggleMenu()">
                </div>

            </div>
            <div class="navbar-center">
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/restOfImages/indexImages/home.png"><span>Anasayfa</span></a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Network"><img src="~/images/restOfImages/indexImages/network.png"><span>Ağım</span></a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Jobs"><img src="~/images/restOfImages/indexImages/jobs.png"><span>İş İlanlarım</span></a></li>
                </ul>

            </div>
            <div class="navbar-right">
                <a href="Index.cshtml" class="logo"> <img src="~/images/restOfImages/indexImages/output-onlinepngtools.png"> </a>
                <div class="search-box">
                    <img src="~/images/restOfImages/indexImages/search.png" alt="">
                    <input type="text" placeholder="Search">
                </div>

            </div>

            <!---------------------------------------------Profile-Dropdown-Menu------------------------------------------------->

            <div class="profile-menu-wrap" id="profile">

                <div class="profile-menu">
                    <div class="user-info">
                        <img src="~/images/restOfImages/indexImages/user-2.png">
                        <div>
                            <h3>Lorem, ipsum.</h3>
                            <a asp-area="" asp-controller="Home" asp-action="Profile">Profili Gör</a>

                        </div>
                    </div>
                    <hr>

                    <a href="#" class="profile-menu-link">
                        <img src="~/images/restOfImages/indexImages/setting.png">
                        <p>Ayarlar</p>
                        <span>></span>
                    </a>
                    <a href="#" class="profile-menu-link">
                        <img src="~/images/restOfImages/indexImages/help.png">
                        <p>Yardım</p>
                        <span>></span>
                    </a>

                    <a asp-area="" asp-controller="Home" asp-action="Login" class="profile-menu-link">
                        <img src="~/images/restOfImages/indexImages/logout.png">
                        <p>Çıkış Yap</p>
                        <span></span>
                    </a>
                </div>
            </div>






        </nav>

        <!---------------------------------------------Header End-------------------------------------------------->
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
