<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <script src="https://kit.fontawesome.com/30dd7417bd.js" crossorigin="anonymous"></script>
</head>

<body>
    <!---------------------------------------------Header Start------------------------------------------->
    <nav class="navbar">


        <div class="navbar-left">
           
            <div class="online">
                <img src="images/user-2.png" class="nav-profile-img" onclick="toggleMenu()">
            </div>

        </div>
        <div class="navbar-center">
            <ul>
                <li><a href="index.html" class="active-link"><img src="images/home.png"><span>Anasayfa</span></a></li>
                <li><a href="network.html"><img src="images/network.png"><span>Ağım</span></a></li>
                <li><a href="jobs.html"><img src="images/jobs.png"><span>İş İlanlarım</span></a></li>
                
                <li><a href="#"><img src="images/notification.png"><span>Bildirimler</span></a></li>
            </ul>

        </div>
        <div class="navbar-right">
            <a href="index.html" class="logo"> <img src="images/output-onlinepngtools.png"> </a>
            <div class="search-box">
                <img src="images/search.png" alt="">
                <input type="text" placeholder="Search">
            </div>
           
        </div>

        <!---------------------------------------------Profile-Dropdown-Menu------------------------------------------------->

 <div class="profile-menu-wrap" id="profile">

    <div class="profile-menu">
        <div class="user-info">
            <img src="images/user-2.png">
            <div>
                <h3>Lorem, ipsum.</h3>
                <a href="profile.html">Profili Gör</a>

            </div>
        </div>
        <hr>
       
        <a href="#" class="profile-menu-link">
            <img src="images/setting.png" >
            <p>Ayarlar</p>
            <span>></span>
        </a>
        <a href="#" class="profile-menu-link">
            <img src="images/help.png" >
            <p>Yardım</p>
            <span>></span>
        </a>
        
        <a href="#" class="profile-menu-link">
            <img src="images/logout.png" >
            <p>Çıkış Yap</p>
            <span></span>
        </a>
    </div>
 </div>






    </nav>

    <!---------------------------------------------Header End-------------------------------------------------->






    <!---------------------------------------------Body Start------------------------------------------->

    <div class="container">
        <!---------------------------------------------left-sidebar Start------------------------------------------->
        <div class="left-sidebar">


            <div class="sidebar-profile-box">
                <img src="images/cover-pic.png" style="width: 100%;">
                <div class="sidebar-profile-info">
                    <img src="images/user-2.png" alt="">
                    <h1>Kullanıcı</h1>
                    <h3>Lorem, ipsum dolor.</h3>
                    
                </div>

                
            </div>


            <div class="sidebar-activity">
                <h3>Yetenekler</h3>
                <a href="#"><img src="images/output-onlinepngtools (1).png" alt="">Web Development</a>
                <a href="#"><img src="images/output-onlinepngtools (1).png" alt="">User Interface</a>
                <a href="#"><img src="images/output-onlinepngtools (1).png" alt="">Machine Learning</a>
                <a href="#"><img src="images/output-onlinepngtools (1).png" alt="">Learn Online</a>
                <a href="#"><img src="images/output-onlinepngtools (1).png" alt="">Code Bester</a>
                <a href="#"><img src="images/output-onlinepngtools (1).png" alt="">Group Learning</a>
                <h3>Tecrübeler</h3>
                <a href="#"><img src="images/group.png" alt="">Lorem, ipsum dolor.</a>
                <a href="#"><img src="images/group.png" alt="">Lorem, ipsum dolor.</a>
                <a href="#"><img src="images/group.png" alt="">Lorem, ipsum dolor.</a>
                <a href="#"><img src="images/group.png" alt="">Lorem, ipsum dolor.</a>
                
                <div class="discover-more-link">
                    <a href="#">Daha Fazla Keşfet</a>
                </div>



            </div>


        </div>
        <!---------------------------------------------Main-Content Start------------------------------------------->



        <div class="main-content">

           

            <div class="sort-by">
                <hr>
                <p>Sort by: <span>top <img src="images/down-arrow.png" alt=""></span></p>
            </div>
            <div class="post">
                <div class="post-author">
                    <img src="images/user-1.png" alt="">
                    <div>
                        <h1>
                            Ata Güler
                        </h1>
                        <small>Bayraktar.aş Şirketinde Ceo</small>
                        <small>2 saat önce</small>
                    </div>


                </div>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores saepe, beatae quis nihil velit consequatur suscipit reprehenderit, nam aut iste et eum? Magnam quae, autem quisquam recusandae voluptatibus perspiciatis et a molestias ad minima officia, eveniet facere, iure quia magni.</p>
                <img src="C:\Users\docto\source\repos\FreelanceWebSite\FreelanceWebSite\Frontend\indexpage\images\tesla.png" width="100">

                <div class="post-stats">
                    <div>
                        <img src="images/thumbsup.png" alt="">
                        <img src="images/love.png" alt="">
                        <img src="images/clap.png" alt="">
                        <span class="liked-user">Lorem, ipsum. Su ve 75 diğerleri </span>
                    </div>
                    <div>
                        <span>45 comments &middot; 85 shares</span>
                    </div>
                </div>

                <div class="post-activity">
                    <div>
                        <img src="images/user-2.png" class="post-activity-user-icon">
                        <img src="images/down-arrow.png" class="post-activity-arrow-icon">
                    </div>
                    <div class="post-activity-link">
                        <img src="images/like.png">
                        <span>Beğen</span>
                    </div>
                    <div class="post-activity-link">
                        <img src="images/comment.png">
                        <span>Başvuru yap</span>
                    </div>
                    <div class="post-activity-link">
                        <img src="images/share.png">
                        <span>Paylaş</span>
                    </div>
                    <div class="post-activity-link">
                        <img src="images/send.png">
                        <span>Gönder</span>
                    </div>
                </div>



            </div>
            <div class="post">
                <div class="post-author">
                    <img src="images/user-1.png" alt="">
                    <div>
                        <h1>
                            Ata Güler
                        </h1>
                        <small>Bayraktar.aş Şirketinde Ceo</small>
                        <small>2 saat önce</small>
                    </div>


                </div>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores saepe, beatae quis nihil velit consequatur suscipit reprehenderit, nam aut iste et eum? Magnam quae, autem quisquam recusandae voluptatibus perspiciatis et a molestias ad minima officia, eveniet facere, iure quia magni.</p>
                <img src="images/tesla.png" width="100">

                <div class="post-stats">
                    <div>
                        <img src="images/thumbsup.png" alt="">
                        <img src="images/love.png" alt="">
                        <img src="images/clap.png" alt="">
                        <span class="liked-user">Lorem, ipsum. Su ve 75 diğerleri </span>
                    </div>
                    <div>
                        <span>45 comments &middot; 85 shares</span>
                    </div>
                </div>

                <div class="post-activity">
                    <div>
                        <img src="images/user-2.png" class="post-activity-user-icon">
                        <img src="images/down-arrow.png" class="post-activity-arrow-icon">
                    </div>
                    <div class="post-activity-link">
                        <img src="images/like.png">
                        <span>Beğen</span>
                    </div>
                    <div class="post-activity-link">
                        <img src="images/comment.png">
                        <span>Başvuru yap</span>
                    </div>
                    <div class="post-activity-link">
                        <img src="images/share.png">
                        <span>Paylaş</span>
                    </div>
                    <div class="post-activity-link">
                        <img src="images/send.png">
                        <span>Gönder</span>
                    </div>
                </div>



            </div>
            <div class="post">
                <div class="post-author">
                    <img src="images/user-1.png" alt="">
                    <div>
                        <h1>
                            Ata Güler
                        </h1>
                        <small>Bayraktar.aş Şirketinde Ceo</small>
                        <small>2 saat önce</small>
                    </div>


                </div>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores saepe, beatae quis nihil velit consequatur suscipit reprehenderit, nam aut iste et eum? Magnam quae, autem quisquam recusandae voluptatibus perspiciatis et a molestias ad minima officia, eveniet facere, iure quia magni.</p>
                <img src="images/tesla.png" width="100">

                <div class="post-stats">
                    <div>
                        <img src="images/thumbsup.png" alt="">
                        <img src="images/love.png" alt="">
                        <img src="images/clap.png" alt="">
                        <span class="liked-user">Lorem, ipsum. Su ve 75 diğerleri </span>
                    </div>
                    <div>
                        <span>45 comments &middot; 85 shares</span>
                    </div>
                </div>

                <div class="post-activity">
                    <div>
                        <img src="images/user-2.png" class="post-activity-user-icon">
                        <img src="images/down-arrow.png" class="post-activity-arrow-icon">
                    </div>
                    <div class="post-activity-link">
                        <img src="images/like.png">
                        <span>Beğen</span>
                    </div>
                    <div class="post-activity-link">
                        <img src="images/comment.png">
                        <span>Başvuru yap</span>
                    </div>
                    <div class="post-activity-link">
                        <img src="images/share.png">
                        <span>Paylaş</span>
                    </div>
                    <div class="post-activity-link">
                        <img src="images/send.png">
                        <span>Gönder</span>
                    </div>
                </div>



            </div>
           
            




        </div>












        <!---------------------------------------------right-sidebar Start------------------------------------------->
        <div class="right-sidebar">

            <div class="sidebar-news">
                <img src="images/more.png" alt="" class="info-icon">
                <h3>Öne Çıkan İş İlanları</h3>
                <a href="#">"Lorem ipsum dolor sit amet consectetur, adipisicing elit. "</a>
                <span>1 gün önce</span>

                <a href="#">"Lorem ipsum dolor sit amet consectetur, adipisicing elit. "</a>
                <span>1 gün önce</span>

                <a href="#">"Lorem ipsum dolor sit amet consectetur, adipisicing elit. "</a>
                <span>1 gün önce</span>

                <a href="#">"Lorem ipsum dolor sit amet consectetur, adipisicing elit. "</a>
                <span>1 gün önce</span>
                <a href="#">"Lorem ipsum dolor sit amet consectetur, adipisicing elit. "</a>
                <span>1 gün önce</span>

                <a href="#" class="read-more-link"> Daha fazla göster</a>



            </div>
          
            <div class="sidebar-useful-links">
              <div class="user">
                <img class="recomended-employers" src="images/user-1.png">
                <p>Lorem, ipsum dolor.</p>
                <p>12 iş ilanı verdi</p>

              </div>
              <div class="user">
                <img class="recomended-employers" src="images/user3.jpg">
                <p>Lorem, ipsum dolor.</p>
                <p>12 iş ilanı verdi</p>

              </div>
              <div class="user">
                <img class="recomended-employers" src="images/user5.jpg">
                <p>Lorem, ipsum dolor.</p>
                <p>12 iş ilanı verdi</p>

              </div>


            </div>





        </div>


    </div>

    <!---------------------------------------------Body End------------------------------------------->



  <script>


    let profile =document.getElementById("profile");
    function toggleMenu()
    {
        profile.classList.toggle("open-menu")
    }
  </script>



</body>


</html>