@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true">
    <script src="https://kit.fontawesome.com/30dd7417bd.js" crossorigin="anonymous"></script>
</head>

<body>
    <!---------------------------------------------Header Start------------------------------------------->
    <nav class="navbar">


        <div class="navbar-left">

            <div class="online">
                <img src="~/images/restOfImages/indexImages/user-2.png" class="nav-profile-img" onclick="toggleMenu()">
            </div>

        </div>
        <div class="navbar-center">
            <ul>
                <li><a href="index.html" class="active-link"><img src="~/images/restOfImages/indexImages/home.png"><span>Anasayfa</span></a></li>
                <li><a href="network.html"><img src="~/images/restOfImages/indexImages/network.png"><span>Ağım</span></a></li>
                <li><a href="jobs.html"><img src="~/images/restOfImages/indexImages/jobs.png"><span>İş İlanlarım</span></a></li>

                <li><a href="#"><img src="~/images/restOfImages/indexImages/notification.png"><span>Bildirimler</span></a></li>
            </ul>

        </div>
        <div class="navbar-right">
            <a href="index.html" class="logo"> <img src="~/images/restOfImages/indexImages/output-onlinepngtools.png"> </a>
            <div class="search-box">
                <img src="~/images/restOfImages/indexImages/search.png" alt="">
                <input type="text" placeholder="Search">
            </div>

        </div>

        <!---------------------------------------------Profile-Dropdown-Menu------------------------------------------------->

        <div class="profile-menu-wrap" id="profile">

            <div class="profile-menu">
                <div class="user-info">
                    <img src="~/images/restOfImages/indexImages/user-2.png">
                    <div>
                        <h3>Lorem, ipsum.</h3>
                        <a href="profile.html">Profili Gör</a>

                    </div>
                </div>
                <hr>

                <a href="#" class="profile-menu-link">
                    <img src="~/images/restOfImages/indexImages/setting.png">
                    <p>Ayarlar</p>
                    <span>></span>
                </a>
                <a href="#" class="profile-menu-link">
                    <img src="~/images/restOfImages/indexImages/help.png">
                    <p>Yardım</p>
                    <span>></span>
                </a>

                <a href="#" class="profile-menu-link">
                    <img src="~/images/restOfImages/indexImages/logout.png">
                    <p>Çıkış Yap</p>
                    <span></span>
                </a>
            </div>
        </div>







    </nav>

    <!---------------------------------------------Header End-------------------------------------------------->
    <!---------------------------------------------Body Start------------------------------------------->

    <div class="container">
        <!---------------------------------------------left-sidebar Start------------------------------------------->
        <div class="left-sidebar">


            <div class="sidebar-profile-box">
                <img src="~/images/restOfImages/indexImages/cover-pic.png" style="width: 100%;">
                <div class="sidebar-profile-info">
                    <img src="~/images/restOfImages/indexImages/user-2.png" alt="">
                    <h1>Kullanıcı</h1>
                    <h3>Lorem, ipsum dolor.</h3>

                </div>


            </div>


            <div class="sidebar-activity">
                <h3>Yetenekler</h3>
                <a href="#"><img src="~/images/restOfImages/indexImages/output-onlinepngtools (1).png" alt="">Web Development</a>
                <a href="#"><img src="~/images/restOfImages/indexImages/output-onlinepngtools (1).png" alt="">User Interface</a>
                <a href="#"><img src="~/images/restOfImages/indexImages/output-onlinepngtools (1).png" alt="">Machine Learning</a>
                <a href="#"><img src="~/images/restOfImages/indexImages/output-onlinepngtools (1).png" alt="">Learn Online</a>
                <a href="#"><img src="~/images/restOfImages/indexImages/output-onlinepngtools (1).png" alt="">Code Bester</a>
                <a href="#"><img src="~/images/restOfImages/indexImages/output-onlinepngtools (1).png" alt="">Group Learning</a>
                <h3>Tecrübeler</h3>
                <a href="#"><img src="~/images/restOfImages/indexImages/group.png" alt="">Lorem, ipsum dolor.</a>
                <a href="#"><img src="~/images/restOfImages/indexImages/group.png" alt="">Lorem, ipsum dolor.</a>
                <a href="#"><img src="~/images/restOfImages/indexImages/group.png" alt="">Lorem, ipsum dolor.</a>
                <a href="#"><img src="~/images/restOfImages/indexImages/group.png" alt="">Lorem, ipsum dolor.</a>

                <div class="discover-more-link">
                    <a href="#">Daha Fazla Keşfet</a>
                </div>



            </div>


        </div>
        <!---------------------------------------------Main-Content Start------------------------------------------->















        <div class="main-content">


            <div class="profile-sidebar">



                <div class="sidebar-people">

                    <div class="sidebar-people-row">
                        <img src="~/images/restOfImages/indexImages/user3.jpg">
                        <div>
                            <h2>Lorem, ipsum.</h2>
                            <p>Head of marketting at Tesla</p>
                            <a href="#">Connect</a>
                        </div>
                    </div>
                    <div class="sidebar-people-row">
                        <img src="~/images/restOfImages/indexImages/user-2.png">
                        <div>
                            <h2>Lorem, ipsum.</h2>
                            <p>Head of marketting at Microsoft</p>
                            <a href="#">Connect</a>
                        </div>
                    </div>
                    <div class="sidebar-people-row">
                        <img src="~/images/restOfImages/indexImages/user-1.png">
                        <div>
                            <h2>Lorem, ipsum.</h2>
                            <p>Junior Developer</p>
                            <a href="#">Connect</a>
                        </div>
                    </div>
                    <div class="sidebar-people-row">
                        <img src="~/images/restOfImages/indexImages/user-1.png">
                        <div>
                            <h2>Lorem, ipsum.</h2>
                            <p>Junior Developer</p>
                            <a href="#">Connect</a>
                        </div>
                    </div>
                    <div class="sidebar-people-row">
                        <img src="~/images/restOfImages/indexImages/user-1.png">
                        <div>
                            <h2>Lorem, ipsum.</h2>
                            <p>Junior Developer</p>
                            <a href="#">Connect</a>
                        </div>
                    </div>
                    <div class="sidebar-people-row">
                        <img src="~/images/restOfImages/indexImages/user-1.png">
                        <div>
                            <h2>Lorem, ipsum.</h2>
                            <p>Junior Developer</p>
                            <a href="#">Connect</a>
                        </div>
                    </div>
                    <div class="sidebar-people-row">
                        <img src="~/images/restOfImages/indexImages/user-1.png">
                        <div>
                            <h2>Lorem, ipsum.</h2>
                            <p>Junior Developer</p>
                            <a href="#">Connect</a>
                        </div>
                    </div>
                    <div class="sidebar-people-row">
                        <img src="~/images/restOfImages/indexImages/user-1.png">
                        <div>
                            <h2>Lorem, ipsum.</h2>
                            <p>Junior Developer</p>
                            <a href="#">Connect</a>
                        </div>
                    </div>
                    <div class="sidebar-people-row">
                        <img src="~/images/restOfImages/indexImages/user-1.png">
                        <div>
                            <h2>Lorem, ipsum.</h2>
                            <p>Junior Developer</p>
                            <a href="#">Connect</a>
                        </div>
                    </div>
                    <div class="sidebar-people-row">
                        <img src="~/images/restOfImages/indexImages/user-1.png">
                        <div>
                            <h2>Lorem, ipsum.</h2>
                            <p>Junior Developer</p>
                            <a href="#">Connect</a>
                        </div>
                    </div>
                    <div class="sidebar-people-row">
                        <img src="~/images/restOfImages/indexImages/user-1.png">
                        <div>
                            <h2>Lorem, ipsum.</h2>
                            <p>Junior Developer</p>
                            <a href="#">Connect</a>
                        </div>
                    </div>
                    <div class="sidebar-people-row">
                        <img src="~/images/restOfImages/indexImages/user-1.png">
                        <div>
                            <h2>Lorem, ipsum.</h2>
                            <p>Junior Developer</p>
                            <a href="#">Connect</a>
                        </div>
                    </div>
                    <div class="sidebar-people-row">
                        <img src="~/images/restOfImages/indexImages/user-1.png">
                        <div>
                            <h2>Lorem, ipsum.</h2>
                            <p>Junior Developer</p>
                            <a href="#">Connect</a>
                        </div>
                    </div>


                </div>



            </div>






        </div>












        <!---------------------------------------------right-sidebar Start------------------------------------------->
        <div class="right-sidebar">

            <div class="sidebar-news">
                <img src="~/images/restOfImages/indexImages/more.png" alt="" class="info-icon">
                <h3>Öne Çıkan İş İlanları</h3>
                <a href="#">"Lorem ipsum dolor sit amet consectetur, adipisicing elit. "</a>
                <span>1 gün önce</span>

                <a href="#">"Lorem ipsum dolor sit amet consectetur, adipisicing elit. "</a>
                <span>1 gün önce</span>

                <a href="#">"Lorem ipsum dolor sit amet consectetur, adipisicing elit. "</a>
                <span>1 gün önce</span>

                <a href="#">"Lorem ipsum dolor sit amet consectetur, adipisicing elit. "</a>
                <span>1 gün önce</span>
                <a href="#">"Lorem ipsum dolor sit amet consectetur, adipisicing elit. "</a>
                <span>1 gün önce</span>

                <a href="#" class="read-more-link"> Daha fazla göster</a>



            </div>

            <div class="sidebar-useful-links">
                <div class="user">
                    <img class="recomended-employers" src="~/images/restOfImages/indexImages/user-1.png">
                    <p>Lorem, ipsum dolor.</p>
                    <p>12 iş ilanı verdi</p>

                </div>
                <div class="user">
                    <img class="recomended-employers" src="~/images/restOfImages/indexImages/user3.jpg">
                    <p>Lorem, ipsum dolor.</p>
                    <p>12 iş ilanı verdi</p>

                </div>
                <div class="user">
                    <img class="recomended-employers" src="~/images/restOfImages/indexImages/user5.jpg">
                    <p>Lorem, ipsum dolor.</p>
                    <p>12 iş ilanı verdi</p>

                </div>


            </div>





        </div>


    </div>

    <!---------------------------------------------Body End------------------------------------------->



    <script>


        let profile = document.getElementById("profile");
        function toggleMenu() {
            profile.classList.toggle("open-menu")
        }
    </script>



</body>


</html>

@{
}
