@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true">
    <script src="https://kit.fontawesome.com/30dd7417bd.js" crossorigin="anonymous"></script>
</head>

<body>
    <!---------------------------------------------Header Start------------------------------------------->
    <nav class="navbar">


        <div class="navbar-left">


            <div class="online">
                <img src="~/images/restOfImages/indexImages/user-2.png" class="nav-profile-img" onclick="toggleMenu()">
            </div>
        </div>
        <div class="navbar-center">
            <ul>
                <li><a href="index.html" class="active-link"><img src="~/images/restOfImages/indexImages/home.png"><span>Anasayfa</span></a></li>
                <li><a href="Network.cshtml"><img src="~/images/restOfImages/indexImages/network.png"><span>Ağım</span></a></li>
                <li><a href="jobs.html"><img src="~/images/restOfImages/indexImages/jobs.png"><span>İş İlanlarım</span></a></li>

                <li><a href="#"><img src="~/images/restOfImages/indexImages/notification.png"><span>Bildirimler</span></a></li>
            </ul>

        </div>
        <div class="navbar-right">
            <a href="index.html" class="logo"> <img src="~/images/restOfImages/indexImages/logo3.png"> </a>
            <div class="search-box">
                <img src="~/images/restOfImages/indexImages/search.png" alt="">
                <input type="text" placeholder="Search">
            </div>


        </div>

        <!---------------------------------------------Profile-Dropdown-Menu------------------------------------------------->

        <div class="profile-menu-wrap" id="profile">

            <div class="profile-menu">
                <div class="user-info">
                    <img src="~/images/restOfImages/indexImages/user-2.png">
                    <div>
                        <h3>Lorem, ipsum.</h3>
                        <a href="profile.html">Profili Gör</a>

                    </div>
                </div>
                <hr>

                <a href="#" class="profile-menu-link">
                    <img src="~/images/restOfImages/indexImages/setting.png">
                    <p>Ayarlar</p>
                    <span>></span>
                </a>
                <a href="#" class="profile-menu-link">
                    <img src="~/images/restOfImages/indexImages/help.png">
                    <p>Yardım</p>
                    <span>></span>
                </a>

                <a href="#" class="profile-menu-link">
                    <img src="~/images/restOfImages/indexImages/logout.png">
                    <p>Çıkış Yap</p>
                    <span></span>
                </a>
            </div>
        </div>






    </nav>


    <!---------------------------------------------Profile-Main-Start------------------------------------------->
    <div class="container">
        <div class="profile-main">

            <div class="profile-container">
                <img src="~/images/restOfImages/indexImages/cover-pic.png">
                <div class="profile-container-inner">
                    <img src="~/images/restOfImages/indexImages/user-2.png" class="profile-pic">
                    <h1>Lorem, ipsum dolor.</h1>
                    <b>Lorem ipsum dolor sit amet.</b>
                    <p>Turkey &middot;<a href="#">İletişim Bilgileri</a></p>
                    <div class="mutal-connection">
                        <img src="~/images/restOfImages/indexImages/user-1.png" alt="">
                        <span>1 Ortak Bağlantı : Lorem, ipsum. </span>
                    </div>
                    <div class="profile-btn">
                        <a href="#" class="primary-btn"><img src="~/images/restOfImages/indexImages/connect.png">Bağlantı Kur</a>
                        <a href="#"><img src="~/images/restOfImages/indexImages/chat.png">Mesajlaş</a>
                    </div>

                </div>
            </div>

            <div class="porifle-description">
                <h2>Hakkında</h2>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, sed omnis. Hic, iure quod? Quibusdam
                    at fugit expedita possimus enim cupiditate ratione tenetur nulla quidem est dolorum explicabo autem
                    necessitatibus, neque sequi reprehenderit in rerum aperiam consequatur ad tempore, hic suscipit.
                    Exercitationem placeat omnis quidem architecto aliquid, facere nesciunt corporis!
                </p>
                <a href="#" class="see-more-link"> See More... </a>
            </div>

            <div class="porifle-description">
                <h2>Tecrübe</h2>
                <div class="profile-desc-row">
                    <img src="~/images/restOfImages/indexImages/m" alt="">
                    <div>
                        <h3>Lorem, ipsum dolor.</h3>
                        <b>lroem &middot; Lorem, ipsum.</b>
                        <b>Lorem, ipsum dolor. &middot; Lorem, ipsum.</b>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio est incidunt magni quam
                            ipsum dignissimos quibusdam impedit consectetur obcaecati, perferendis minus vel voluptate,
                            aspernatur assumenda?
                        </p>
                        <hr>
                    </div>


                </div>
                <div class="profile-desc-row">
                    <img src="~/images/restOfImages/indexImages/m" alt="">
                    <div>
                        <h3>Lorem, ipsum dolor.</h3>
                        <b>lroem &middot; Lorem, ipsum.</b>
                        <b>Lorem, ipsum dolor. &middot; Lorem, ipsum.</b>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio est incidunt magni quam
                            ipsum dignissimos quibusdam impedit consectetur obcaecati, perferendis minus vel voluptate,
                            aspernatur assumenda?
                        </p>
                        <hr>
                    </div>


                </div>
                <div class="profile-desc-row">
                    <img src="~/images/restOfImages/indexImages/m" alt="">
                    <div>
                        <h3>Lorem, ipsum dolor.</h3>
                        <b>lroem &middot; Lorem, ipsum.</b>
                        <b>Lorem, ipsum dolor. &middot; Lorem, ipsum.</b>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio est incidunt magni quam
                            ipsum dignissimos quibusdam impedit consectetur obcaecati, perferendis minus vel voluptate,
                            aspernatur assumenda?
                        </p>
                        <hr>
                    </div>


                </div>

                <hr>
                <a href="#" class="experience-link">
                    Tüm tecrübeleri göster <img src="~/images/restOfImages/indexImages/right-arrow.png"
                                                alt="">
                </a>
            </div>

            <div class="porifle-description">
                <h2>Eğitim</h2>
                <div class="profile-desc-row">
                    <img src="~/images/restOfImages/indexImages/cbu.jpg" alt="">
                    <div>
                        <h3> Celal Bayar University</h3>
                        <b>Software Engineering</b>
                        <b>2003-2007</b>
                        <hr>
                    </div>
                </div>

            </div>

            <div class="porifle-description">
                <h2>Beceriler</h2>
                <a href="#" class="skills-btn">Lorem, ipsum.</a>
                <a href="#" class="skills-btn">Lorem, ipsum.</a>
                <a href="#" class="skills-btn">Lorem, ipsum.</a>
                <a href="#" class="skills-btn">Lorem, ipsum.</a>
                <a href="#" class="skills-btn">Lorem, ipsum.</a>
                <a href="#" class="skills-btn">Lorem, ipsum.</a>


            </div>
            <div class="porifle-description">
                <h2>Dil</h2>
                <a href="#" class="skills-btn">English</a>
                <a href="#" class="skills-btn">Turkish</a>

            </div>


        </div>


        <!---------------------------------------------Profile-Main-Start-end------------------------------------------->
        <!---------------------------------------------Profile-Side Bar Start------------------------------------------->













    </div>
    <!---------------------------------------------Profile-Side Bar End------------------------------------------->


    <script>


        let profile = document.getElementById("profile");
        function toggleMenu() {
            profile.classList.toggle("open-menu")
        }
    </script>



</body>


</html>


@{



}
